<div class="padding-bottom">
	<div id="footerAccentLine" class="centered"></div>
	<div id="footerIconWrapper" class="padding-top">
		<img src="img/icon/LauraServiceIcon.gif" id="footerIcon">
	</div>
	<div class="centered padding-top footerText">
		<ul>
			<li class="footerTextItem">&copy; 2017 All Rights Reserved</li>
			<li class="footerTextItem"><a class="email-link" href="mailto:laura.service1@gmail.com">laura.service1@gmail.com</a></li>
			<li class="footerTextItem">438 350 7191</li>
		</ul>
	</div>
	<div>
		<ul id="iconList">
			<li class="iconLi"><a target="_blank" href="http://www.facebook.com/Lauraserviceca"><img class="icon" src="img/icon/facebook-icon.svg"></img></a></li>
			<li class="iconLi"><a target="_blank" href="https://twitter.com/smervice"><img class="icon" src="img/icon/twitter-icon.svg"></img></a></li>
			<li class="iconLi"><a target="_blank" href="https://ca.linkedin.com/in/lservice"><img class="icon" src="img/icon/linkedin-icon.svg"></img></a></li>
			<li class="iconLi"><a target="_blank" href="https://instagram.com/smervice/"><img class="icon" src="img/icon/instagram-icon.svg"></img></a></li>
		</ul>
	</div>
</div>
