<div id="homepageHead" class="centered">
	<h1 id="homepageHeadText"><span id="homepageName">Laura Service</span> is an interaction, UI/UX and branding designer in Montreal</h1>
</div>

<div class="centered">
	<ul>
		<li ng-repeat="project in projects">
			<div class="projectImage image-wrapper">
				<a href="#/projects/{{ project.id }}"><p class="projectName sansSerif">{{project.name}}</p>
					<img class="img-responsive image" ng-src="{{ project.imageUrl }}" ng-srcset="{{ project.imageUrl }} 1x, {{ project.imageUrl2x }} 2x">
				</a>
			</div>
		</li>
	</ul>
</div>